.nav {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 15px;

  font-family: Montseratt;
  font-size: 30px;
}

.link {
  font-family: Arial;
  font-weight: 600;
  text-decoration: none;
  color: gray;
}
